body {
  background-color: #0BD477;
}

h1 { 
  text-align: center;
  color: #ffffff;
}

.block {
  display: block;
  margin-bottom: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .card image {
  max-width: 100%;
} */

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


/* Other styles */
.card-test {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card-body {
  display: flex;
}

.card-test img {
  width: 40%;
  padding: 0 20px 10px 20px;
}

.card-test h3 {
  font-size: 38px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Sedgwick Ave Display', cursive;
  padding-left: 20px;
}

.card-test p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.category {
  font-weight: 400;
  color: #4D4D4D
}